target/
!.mvn/wrapper/maven-wrapper.jar

pom.xml.*
release.properties*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.angular/

git.properties
.env
.DS_STORE

