version: '3.7'
services:
  traefik:
    container_name: toeggelomat_traefik
    image: traefik:v2.0
    ports:
      - 81:80
      - 8181:8080
    volumes:
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml
      - /var/run/docker.sock:/var/run/docker.sock


  frontend:
    container_name: toeggelomat_frontend
    image: spoud/toeggelomat-frontend
    build: frontend/
    ports:
      - 82:80
    labels:
      - traefik.http.routers.toeggelomat_frontend.rule=PathPrefix(`/`)
      - traefik.http.services.toeggelomat_frontend-service.loadbalancer.server.port=80
      - traefik.enable=true

  backend:
    container_name: toeggelomat_backend
    image: spoud/toeggelomat-backend:native
    build: 
      context: backend/
      # dockerfile: src/main/docker/Dockerfile.jvm
      dockerfile: src/main/docker/Dockerfile.native
    ports:
      - 8080
    labels:
      - traefik.http.routers.toeggelomat_backend.rule=PathPrefix(`/api`)
      - traefik.http.services.toeggelomat_backend-service.loadbalancer.server.port=8080
      - traefik.enable=true

  postgres:
    container_name: toeggelomat_postgres
    image: postgres
    environment: 
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432

  kafka:
    container_name: toeggelomat_kafka
    image: johnnypark/kafka-zookeeper
    ports:
      - 2181:2181
      - 9092:9092
    environment:
      ADVERTISED_HOST: kafka

#  kafka_exporter:
#    image: braedon/prometheus-kafka-consumer-group-exporter:0.5.2
#    command: -b kafka
#    ports:
#      - 9208:9208
