services:
  traefik:
    container_name: toeggelomat_traefik
    image: traefik:v2
    ports:
      - 81:80
      - 8181:8080
    volumes:
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml
      - /var/run/docker.sock:/var/run/docker.sock


  frontend:
    container_name: toeggelomat_frontend
    image: spoud/toeggelomat-frontend
    build: frontend/
    ports:
      - 82:80
    labels:
      - traefik.http.routers.toeggelomat_frontend.rule=PathPrefix(`/`)
      - traefik.http.services.toeggelomat_frontend-service.loadbalancer.server.port=80
      - traefik.enable=true

  backend:
    container_name: toeggelomat_backend
    image: spoud/toeggelomat-backend
    build: 
      context: backend/
      # dockerfile: src/main/docker/Dockerfile.jvm
      dockerfile: src/main/docker/Dockerfile.native-micro
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/postgres
      - QUARKUS_DATASOURCE_USERNAME=postgres
      - QUARKUS_DATASOURCE_PASSWORD=postgres
    ports:
      - 8080
    labels:
      - traefik.http.routers.toeggelomat_backend.rule=PathPrefix(`/api`)
      - traefik.http.services.toeggelomat_backend-service.loadbalancer.server.port=8080
      - traefik.enable=true

  postgres:
    container_name: toeggelomat_postgres
    image: postgres:17
    environment: 
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432


