<h1>Score board</h1>
<div class="start-game-container">
  <button type="button" class="btn btn-primary btn-lg" routerLink="/players-selection">Start a game</button>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nickname</th>
    <th scope="col">Point</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players; let i=index">
    <th scope="row">{{i + 1}}</th>
    <td>
      <app-spoud-avatar [email]="player.email"></app-spoud-avatar>
      {{player.nickName}}</td>
    <td>{{player.points}}</td>
  </tr>
  </tbody>
</table>

