div.jumbotron {
  margin: auto;
  text-align: center;
  padding: 5px;
}

.lead button{
  margin: 10px;
}

.btn-primary:disabled {
  color: #ffffff;
  background-color: #375a7f;
  border-color: #375a7f;
  width: 10rem;
}

.btn-lg, .btn-group-lg > .btn {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  width: 10rem;
}

.player-list{
  margin-top: 20px;
}

.player {
  font-size: 1.5em;
  background: #303030;
  cursor: pointer;
  margin: 10px;
  border-radius: 0.3rem;
  padding: 10px;
}
.player:hover {
  background: #1c2b39;
}

.player.selected {
  background: #375a7f;
}
