.score-list {
  display: flex;
  justify-content: center;

  &.editable {
    cursor: pointer;
  }

  .score-item {
    margin: 10px;
    display: block;
    border: 1px solid white;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;

    &.selected {
      background: white;
      color: black;
    }
  }

}

