<ng-template #content let-modal>
  <div class="modal-header">
    @if (redWon) {
      <h4 class="modal-title red-team-color"
      >Red team won</h4>
    }
    @if (!redWon) {
      <h4 class="modal-title blue-team-color"
      >Blue won</h4>
    }
  </div>
  <div class="modal-body">
    <form>
      @if (redWon) {
        <div class="form-group red-team-color">
          {{match?.playerRedDefense?.nickName}} and {{match?.playerRedOffense?.nickName}} won this round {{match?.match?.redScore}} -
          {{match?.match?.blueScore}}
        </div>
      }
      @if (!redWon) {
        <div class="form-group blue-team-color">
          {{match?.playerBlueDefense?.nickName}} and {{match?.playerBlueOffense?.nickName}} won this round {{match?.match?.redScore}} -
          {{match?.match?.blueScore}}
        </div>
      }
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Shit cancel</button>
    <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.close('save')">Confirm ({{timeout}})</button>
  </div>
</ng-template>
