* {
  margin: 0;
  padding: 0;
}

body{
  margin: auto 20px;
  height: 1vw;
}

.red-team-color {
  color: #BF3A2B;
}

.blue-team-color {
  color: #2980BA;
}

.red-team-backgroundcolor {
  background-color: #BF3A2B;
  color: white;
}

.blue-team-backgroundcolor {
  background-color: #2980BA;
  color: white;
}
