.buttons-container{
  text-align: center;
}
.buttons-container button{
  margin: 20px;
}

.match-container {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.blue-players, .red-players {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.red-players {
  text-align: right;
}

.offense, .defense {
  flex: 1;
}

.soccer-field {
  flex: 1;
}

.score-list {
  display: flex;
  justify-content: center;
}

.score-item {
  margin: 10px;
  display: block;
  border: 1px solid white;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  cursor: pointer;
}

.score-item.selected {
  background: white;
  color: black;
}

.potential-points{
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
}
