<div class="match-container">
  <div class="red-players">
    <div class="defense">
      <!--      TODO UGLY !!!-->
      <br/>
      <br/>
      Defense <br/>
      ANNA
    </div>
    <div class="offense">
      <br/>
      <br/>
      Offense<br/>
      GAETAN
    </div>
  </div>
  <img class="soccer-field" src="assets/soccer-table.png"/>
  <div class="blue-players">
    <div class="offense">
      <br/>
      <br/>
      Offense<br/>
      JULIAN
    </div>
    <div class="defense">
      <br/>
      <br/>
      Defense <br/>
      MARCEL
    </div>
  </div>
</div>
